.flame {
  font-size: 5rem;
  animation: flame-flicker 500ms infinite alternate,
    flame-move 1s infinite ease-in-out;
}

@keyframes flame-flicker {
  0%,
  100% {
    filter: brightness(100%);
  }
  50% {
    filter: brightness(80%);
  }
}

@keyframes flame-move {
  0%,
  100% {
    transform: translateY(0) rotate(0deg);
  }
  50% {
    transform: translateY(-5px) rotate(1deg);
  }
}
