.audiotrack {
  margin-right: 1rem;
  color: rgba(0, 0, 0, 0.38);
}

.active {
  color: #ff7b40;
}

.draggingSong {
  background-color: #ffe1b1 !important;
}

.accordion:hover {
  background-color: #fff3e0;
}
